{{ define "main" }}
<main id="main-content" class="flex-container">
    {{- partial "newscontentheader.html" . -}}
      
    <section id="maintab-content" class="flex-container">
        <ul id="news-firstcolumnrow" class="news-columnrow flex-container">
            {{ range $elem_val := .Site.Taxonomies.categories.news }}
                <li class="news-item">
                    {{- partial "widgets/newsarticle.html" $elem_val -}}    
                </li>
            {{ end }}
        </ul>
    </section>
</main>
{{ end }}