<article class="news-article">
    <header>
        <figure class="news-thumbnail">
            <img class="news-image" src="http://localhost:8080/images/news/Super-Earth-Discovered.png" alt="" ;="">
        </figure>
        <h2 class="news-title">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </h2>
        <p class="news-metadata">{{- .Date.Format "02. January 2006" }} in 
                {{ range first 1 (after 1 .Params.Categories) }}
                    <a style="cursor:pointer">{{ humanize . }}</a>
                {{ end }}
        </p>
    </header>
    {{- .Summary -}}
    <div id="readitall-button"class="flex-container">
        <a class="readmore-button" href="{{ .RelPermalink }}">Read it all >></a>
    </div>
</article>