<div id="posts-widget" class="footerwidget-item">
    <h4 class="widget-title">Recent Posts</h4>
    <ul id="recentposts-list">
        {{ with .Site.Taxonomies.categories.blog }}
            {{ range first 5 .Pages.ByDate.Reverse }}
                <li  class="post-item">
                    <a class="postitem-title" href="{{ .RelPermalink }}">{{ .Title }}</a><br>
                    <em class="postitem-date">{{ .Date.Format "January, 02 2006" }}</em>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</div>