<div id="tutorials-widget" class="footerwidget-item">
    <h4 class="widget-title">Recent Tutorials</h4>
    <ul id="recenttutorials-list">
        {{ with .Site.Taxonomies.tags.tutorial }}
            {{ range first 5 .Pages.ByDate.Reverse }}
                <li  class="tutorial-item">
                    <a class="tutorialitem-title" href="{{ .RelPermalink }}">{{ .Title }}</a><br>
                    <em class="tutorialitem-date">{{ .Date.Format "January, 02 2006" }}</em>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</div>