<div id="subscribe-widget" class="footerwidget-item">
          <h4 class="widget-title">Subscription</h4>
          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="https://amateur-astrofotografie.us10.list-manage.com/subscribe/post?u=d4930ad772659eeedf7ffa677&amp;id=7191c72b1a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          	     <div class="mc-field-group">
          	       <!-- <label for="mce-EMAIL">Email Address </label> -->
          	        <input placeholder="Your email address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
          	     <div id="mce-responses" class="clear">
          		        <div class="response" id="mce-error-response" style="display:none"></div>
          		        <div class="response" id="mce-success-response" style="display:none"></div>
          	      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_d4930ad772659eeedf7ffa677_7191c72b1a" tabindex="-1" value="">
                  </div>
                  <div class="clear">
                    <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                  </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->

        </div>