{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <ul>
                {{ range first 5 .Pages.ByDate.Reverse }}
                <li>
                    <a  href="{{ .RelPermalink }}">{{ .Title }}</a><br>
                    <em class="postitem-date">{{ .Date.Format "January, 02 2006" }}</em>
                </li>
            {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}