{{ define "main" }}
    <!-- Page main content -->
  <main id="main-content" class="flex-container">
    {{- partial "newscontentheader.html" . -}}
      
    {{ $taxo := "news" }}
    <section id="news_all" class="maintab-content flex-container">
        <ul id="news-firstcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories eq $var */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range first 3 .Pages.ByDate.Reverse }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul id="news-secondcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories.news */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range first 3 (after 3 .Pages.ByDate.Reverse ) }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul id="news-thirdcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories.$var */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range after 6 .Pages.ByDate.Reverse }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>
      
    {{ $taxo := "astronomy" }}
    <section id="news_astronomy" class="maintab-content isHidden">
        <ul id="news-firstcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories eq $var */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range first 3 .Pages.ByDate.Reverse }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul id="news-secondcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories.news */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range first 3 (after 3 .Pages.ByDate.Reverse ) }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul id="news-thirdcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories.$var */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range after 6 .Pages.ByDate.Reverse }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>
      
    {{ $taxo := "space" }}
    <section id="news_space" class="maintab-content isHidden">
        <ul id="news-firstcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories eq $var */}}   
            {{ with ($.Site.GetPage $taxo) }}
                {{ range first 3 .Pages.ByDate.Reverse }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul id="news-secondcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories.news */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range first 3 (after 3 .Pages.ByDate.Reverse ) }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul id="news-thirdcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories.$var */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range after 6 .Pages.ByDate.Reverse }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>
      
    {{ $taxo := "astrophotography" }}
    <section id="news_astrophotography" class="maintab-content isHidden">
        <ul id="news-firstcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories eq $var */}}    
            {{ with ($.Site.GetPage $taxo) }}
                {{ range first 3 .Pages.ByDate.Reverse }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul id="news-secondcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories.news */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range first 3 (after 3 .Pages.ByDate.Reverse ) }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <ul id="news-thirdcolumnrow" class="news-columnrow flex-container">
            {{/* with .Site.Taxonomies.categories.$var */}}
            {{ with ($.Site.GetPage $taxo) }}
                {{ range after 6 .Pages.ByDate.Reverse }}
                    <li class="news-item">
                        {{- partial "widgets/newsarticle.html" . -}}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>
      
  </main>
  <!-- End page main content -->
{{ end }}
