<!-- Bottom footer -->
    <footer id="footer-bottom" class="flex-container">
      <span id="footer-copyright">© Copyright Ralph Manns</span>
      <nav id="footer-navbar">
        <ul id="footernav-list" class="flex-container">
            {{ range .Site.Menus.footer }}
                <li class="footernav-item">
                    <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
            {{ end }}
        </ul>
      </nav>
    </footer>
    <!-- End bottom footer -->