{{ "<!-- Page header wrapper -->" | safeHTML }}
  <header id="page-header" class="flex-container">
    {{ "<!-- Social nav bar -->" | safeHTML }}
    <nav id="socialnav">
        <ul id="socialnav-list" class="flex-container">
            {{ range .Site.Menus.social }}
                <li class="socialnav-item">
                    <a href="{{ .URL }}" class="socialnav-link" title="{{ .Name }}">
                        <i class="{{ .Post }} socialnav-icon"></i>
                    </a>
                </li>
            {{ end }}
      </ul>
    </nav>
{{  "<!-- End social navbar -->" | safeHTML }}
    {{- partial "hero.html" . -}}
  </header>
{{ "<!-- End page header wrapper -->" | safeHTML }}
