<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  {{ "<!-- Mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">


  {{ "<!-- Stylesheets -->" | safeHTML }}
  {{ range .Site.Params.vendors.css }}
  <link rel="stylesheet" href="{{ .link }}" type="text/css">
  {{ end }}


  {{ "<!-- Main stylesheet -->" | safeHTML }}
    
    {{/* $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint */}}
    {{/*<link rel="stylesheet" href="{{ $style.Permalink }}">*/}}

    <link rel="stylesheet" href="/styles/sitebase.css" type="text/css">
    <link rel="stylesheet" href="/styles/subscribeform.css" type="text/css">
    <link rel="stylesheet" href="/styles/news.css" type="text/css">
</head>
