<!-- Page main navbar -->
<nav id="mainnav">
    <ul id="mainnav-list" class="flex-container">
        <li id="mainnav-logo">
            <a id="logo-link" href="news/">
                <object id="logo" data="/img/aa-logo_25.svg" type="image/svg+xml" width="130px"></object>
            </a>
        </li>
        <li id="mainnav-toggler">
            <a id="mobile-nav-icon">
                <object id="toggler" data="../img/toggler.svg" type="image/svg+xml" width="40rem" height="40rem"></object>
            </a>
        </li>
      
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li id="mainnav-{{ .Identifier }}" class="mainnav-item mainnav-item--hasSubmenu">
                    <a class="mainnav-link text-uppercase" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                    <ul class="mainnavitem-submenu">
                        {{ range .Children }}
                            <li>
                                <a class="mainnav-link text-uppercase" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{ else }}
                <li id="mainnav-{{ .Identifier }}" class="mainnav-item">
                    <a class="mainnav-link text-uppercase" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
            {{ end }}
        {{ end }}
        
    </ul>
</nav>
<!-- End page mainbar -->