<header id="news-contentheader" class="flex-container">
      <h2>News</h2>
      <ul id="newscategory-list" class="flex-container">
        {{ range .Site.Menus.news }}
          <li class="newscategory-item">
            <a id="newsbutton-{{ .Identifier }}" class="newscategory-link" style="cursor:pointer">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </header>