<!-- Scripts -->
  <script src="/vendors/jquery/jquery-3.5.1.js"></script>
  <script src="/vendors/html5-boilerplate/modernizr-3.11.2.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>