<!-- Top footer -->
    <footer id="footer-top" class="flex-container">
      <ul id="footerwidget-list" class="flex-container">
        <li>
            <div class="flex-container column-direction">
                {{ partial "widgets/logo-widget.html" . }}
                {{ partial "widgets/subscription-widget.html" . }}
            </div>
        </li>
        <li>
            {{- partial "widgets/recentposts-widget" . -}}
        </li>
        <li>
            {{- partial "widgets/recenttutorials-widget.html" . -}}
        </li>
      </ul>
    </footer>
    <!-- End top footer -->