#news-contentheader {
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  #news-contentheader {
    margin: 1.5rem 0 2rem 0;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px solid #999;
  }
  #news-contentheader>h2 {
    font-weight: 300;
    font-size: 2rem;
  }
}

#newscategory-list {
  flex-direction: row;
  list-style: none;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /* width: 100%; */
  margin-bottom: 1rem;
  /* padding-left: .1rem; */

  border-bottom: 1px solid #999;
}

#newscategory-list a {
  font-size: .6rem;
  letter-spacing: .06rem;
  padding-right: .4rem;
  font-weight: 300;
}

.newscategory-link:hover {
    color: #be9656;
}

.newscategory-link:active {
    color: #be9656;
}



/* @media screen and (min-width: 340px) {
  #newscategory-list a {
    font-size: .7rem;
  }
} */

@media screen and (min-width: 900px) {
  #newscategory-list {
    /* align-items: flex-end; */
    /* justify-content: flex-end; */
    border: 0;
  }
  #newscategory-list a {
    font-size: .8rem;
    letter-spacing: .1rem;
    padding: 0 0 0 1rem;
    font-weight: 300;
  }
}

.maintab-content {
  flex-direction: column;
}

.news-columnrow {
  flex-direction: column;
  list-style: none;

}

@media screen and (min-width: 900px) {
  .news-columnrow {
    flex-direction: row;
    width: 100%;
    /* justify-content: space-around; */
    /* flex-wrap: nowrap; */

  }
}

@media screen and (min-width: 900px) {
  .news-item {
    flex: 0 0 32.68%;
  }

  .news-item:nth-child(even) {
    padding-left: 1%;
    padding-right: 1%;
  }
}

.news-article {
  margin-bottom: 2rem;
}

.news-image {
  width: 100%;
  margin-bottom: 1rem;
}

.news-title,
.news-metadata {
  text-align: center;
}

.news-title {
  font-size: 1rem;
  font-weight: 400;
}

.news-metadata {
  font-size: .8rem;
  font-weight: 300;
    margin-top: .5rem;
  margin-bottom: .5rem;
}

/*.news-excerpt {
  font-size: .9rem;
  font-weight: 300;
  color: #222;
  margin-bottom: .5rem;
}*/

.news-article>p {
    font-size: .9rem;
    font-weight: 300;
    color: #222;
    margin-bottom: 1rem;
}

#readitall-button {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a.readmore-button {
  font-size: .8rem;
}
