/* Custom reset */
html, body, div, header, nav, ul, li, span,
h1, h2, h3, h4, h5, h6, figure, img, p,
input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #be9656;
}

a:active {
    color: #be9656;
}


/* Main */
html,
body {
  /* height of viewport minus padding */
/*
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1400px;
*/
}

html {
  height: 100vh;
}

body {
  font-family: 'Lato', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
    
}

.isHidden {
    display: none;
    opacity: 1;
}

.flex-container {
  display: flex;
}

.flex-item {
  display: flex;
}

.row-direction {
    display: flex;
    flex-direction: row;
}

.column-direction {
    display: flex;
    flex-direction: column;
}

.fab {
  color: white;
}

.cursor-pointer:hover {
    cursor: pointer;
}

#page-header {
  flex-direction: column;
}

#socialnav {
  display: none;
}

@media screen and (min-width: 900px) {
  #socialnav {
    display: flex;
    background-color: #222;
    flex-direction: row;
  }
  #socialnav>ul {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0 5%;
    padding: .4rem 0;
  }
  #socialnav-list:first-child {
    margin-left: auto;
  }
  .socialnav-item {
    padding-left: 1.5rem;
  }
}

#header-image {
  max-width: 100%;
}

#mainnav {

  padding: 2% 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.38),0 3px 6px rgba(0,0,0,.23);
  z-index: 1020;
  position: sticky;
  top: 0;
  background-color: white;
}

#mainnav>ul {
  margin: 0 5%;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  list-style: none;
}

#mainnav-toggler {
  margin-left: auto;
}

#logo-link {
  z-index: 500;
}

.mainnav-item {
  display: none;
}

.mainnavitem-submenu {
  display: none;
}



@media screen and (min-width: 900px) {
  .mainnavitem-submenu {
    position: absolute;
    /* display: inline; */
    background-color: white;
    border: 1px solid #e1e1e1;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    list-style: none;
    margin-top: 2.7rem;
    margin-left: -1rem;
    padding: 1rem;
  }
  .mainnavitem-submenu>li {
    /* line-height: 2rem; */
    /* margin: 1.5rem 0 2.5rem 0; */
    padding: .5rem 0 .5rem 0;
  }
}

@media screen and (min-width: 900px) {

  #mainnav-logo>a:hover {

  }

  #mainnav-toggler {
    display: none;
  }

  .mainnav-item {
    display: flex;
  }

  .mainnav-item--hasSubmenu>a::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    content: "\f107";
    display: inline;
    margin-left: .2rem;
    font-size: .8rem;
     color: #555; 
    line-height: normal;
    vertical-align: baseline;
  }

  #mainnav-news {
    margin-left: auto;
  }

  .mainnav-item {
    padding-left: 2rem;
  }

  .mainnav-link,
  .mainnavItem-link {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 300;
    font-size: .8rem;
  }
}



/* Main content of the page         */
/* content depends on the page kind */

#main-content {
  flex-direction: column;
    flex: 1;
  margin: 1rem 5% 1rem 5%;
}








/* Page footer, consists of 2 parts:                                              */
/* a top footer with lists of the logo, a subscribe widget, recent blog posts and */
/* recent tutorial post                                                           */
/* a bottom footer with the copyright text and a small navigation menu.           */
#footer-wrapper {
  background-color: #222;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  #footer-wrapper {
    /* flex-direction: row; */
  }
}

#footer-top {
  /* flex-direction: column; */
  padding: 2rem 0;
  /* align-items: flex-start; */
  justify-content: flex-start;
}

@media screen and (min-width: 900px) {
  #footer-top {
    flex-direction: row;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
  }
}

#footer-top,
#footer-bottom {
  margin: 0 5%;
}

#footerwidget-list {
  list-style: none;
  flex-direction: column;
  width: 100%;
}

.footerwidget-item {
  margin: 1rem 0;
}

@media screen and (min-width: 900px) {
  #footerwidget-list {
    flex-direction: row;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* width: 100%; */
    justify-content: space-between;
    width: 100%
  }
  .footerwidget-item {
    min-width: vw/4;

  }
}

@media screen and (min-width: 900px) {
  #logo-widget #logo {
    margin-top: 0.2rem;
  }
}


.widget-title {
  color: white;
  font-size: .9rem;
  font-weight: 400;
  color: #888;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: .8rem;
}


/* Recent posts list widget */
/* Recent tutorials list widget */
#recentposts-list,
#recenttutorials-list {
  list-style: none;
}

.post-item,
.tutorial-item {
  padding-bottom: 1rem;
}

.postitem-title,
.tutorialitem-title {
  color: #fff;
  font-family: 'Georgia', serif;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-left: .1rem;
}
.post-item>a:hover,
.tutorial-item {
  color: #be9656;
}

.postitem-date,
.tutorialitem-date {
  color: #888;
  font-size: .8rem;
  font-weight: 300;
  font-style: italic;
  margin-left: .1rem;
}





/* Second footer                                      */
/* at the bottom of the footer wrapper                */
/* contains the copyright and a small navigation list */

#footer-bottom {
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  border-top: 1px solid #999;
  margin-bottom: .5rem;
}

@media screen and (min-width: 900px) {
  #footer-bottom {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }
}

#footernav-list {
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: .2rem;
}

@media screen and (min-width: 900px) {
  #footer-navbar {
    margin-left: auto;

  }
}

#footer-copyright,
.footernav-item>a,
.footernav-item>a:hover {
  color: #999;
  font-size: .8rem;
  padding: .4rem .8rem .4rem 0;
  letter-spacing: .08rem;
  font-weight: 300;
}


@media screen and (min-width: 900px) {
  .footernav-item>a,
  .footernav-item>a:hover {
    padding: 0 0 0 .8rem;
  }
}

#mc_embed_signup {
  /* width: 100%; */
}

.mc-field-group {
  width: 100%;
}

.required,
.button {
  /* width: 100%; */
}

#mce-EMAIL {
  width: 98%;
}

@media screen and (min-width: 900px) {
  #mce-EMAIL {
    width: 96%;
  }
}

/* @media screen and (min-width: 760px*2) {
  #mce-EMAIL {
    width: 98%;
  }
} */

input[type=email] {
  /* width: 98%; */
  font-size: .7rem;
  padding: .3rem 0;
  color: #888;
  text-align: center;
  font-style: italic;
  letter-spacing: .08rem;

}

input[type=email]:focus {
  box-shadow: none;
  background-color: #ddd;
  color: #222;
}

input[type=submit] {
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .1rem;
  font-weight: 400;
  padding: .5rem 0;
  margin: .8rem 0;
  border: 0;
  width: 100%;
  background-color: #888;
  color: #fff;
}
