
.sp-force-hide {
  display: none;
 }

 .sp-form[sp-id="160717"] {
   display: block;
   background: rgba(22, 22, 22, 1);
   padding: 10px;
   width: 100%;
   max-width: 100%;
   border-radius: 0px;
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
   font-family: inherit;
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto;
   }

.sp-form[sp-id="160717"] input[type="checkbox"] {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

.sp-form[sp-id="160717"] .sp-form-fields-wrapper {
   margin: 0 auto;
   width: 290px;
}

.sp-form[sp-id="160717"] .sp-form-control {
  background: rgba(255, 255, 255, 1);
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  padding-left: 8.75px;
  padding-right: 8.75px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  height: 35px;
  width: 100%;
}

.sp-form[sp-id="160717"] .sp-field label {
  color: #444444;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
}

.sp-form[sp-id="160717"] .sp-button-messengers {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.sp-form[sp-id="160717"] .sp-button {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-color: #888888;
  color: #ffffff;
  width: 100%;
  font-weight: 700;
  font-style: normal;
  font-family: "Nunito Sans", "Avenir Next", "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.sp-form[sp-id="160717"] .sp-button-container {
  text-align: left;
}
