<article class="news-article">
    {{- $article := .Get "article" -}}
            <header>
              <figure class="news-thumbnail">
                <a href="{{ .Page.RelPermalink }}" title="{{ .Page.Title }}">
                  <img class="news-image" src="http://localhost:8080/images/news/Super-Earth-Discovered.png" alt="Super Earth Discovered" ;="">
                </a>
              </figure>
              <h2 class="news-title">
                <a href="http://localhost:8080/news/2020/06/26/super-erde-endeckt/" title="{{ .Page.Title }}">{{ .Page.Title }}</a>
              </h2>
              <p class="news-metadata">June 26, 2020</p>
            </header>
            <p class="news-excerpt">{{ .Page.Summary }}...</p>
            <div id="readitall-button"class="flex-container"><a class="readmore-button" href="{{ .Page.RelPermalink }}">Read it all >></a></div>
</article>